<div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body ">
          <h1 class="text-center">Ajouter des Utilisateurs</h1>
          <br>
          <form #formClient="ngForm" (ngSubmit)="onSubmit()">
            <div class="form-row">
              <div class="col-4">
                <label for="nom">Nom</label>
                <input placeholder="Nom"
                    type="text" 
                    class="form-control" 
                    name="nom"
                    [(ngModel)]="appUser.nom"
                    #nom="ngModel"
                    required
                    [ngClass]="{'is-invalid' : nom.errors && nom.touched}"
                >
                <div [hidden]="!nom.errors?.required" class="invalid-feedback">
                    Nom is required
                </div>
              </div>
             
              <div class="col-4 pb-1">
                <label for="prenom">Prenom</label>
                <input placeholder="Prenom"
                    type="text" 
                    class="form-control" 
                    name="prenom"
                    [(ngModel)]="appUser.prenom"
                    #prenom="ngModel"
                    required
                    [ngClass]="{'is-invalid' : prenom.errors && prenom.touched}"
                >
                <div [hidden]="!prenom.errors?.required" class="invalid-feedback">
                    Prenom is required
                </div>
              </div>
              <div class="col-4 pb-1">
                <label for="password">password</label>
                <input placeholder="password"
                    type="text" 
                    class="form-control" 
                    name="password"
                    [(ngModel)]="appUser.password"
                    #password="ngModel"
                    required
                    [ngClass]="{'is-invalid' : password.errors && password.touched}"
                >
                <div [hidden]="!password.errors?.required" class="invalid-feedback">
                    Password is required
                </div>
              </div>
              <div class="col-4 pb-1">
                <label for="cni">CNI</label>
                <input placeholder="cni"
                    type="text" 
                    class="form-control" 
                    name="cni"
                    [(ngModel)]="appUser.cni"
                    #cni="ngModel"
                    required
                    [ngClass]="{'is-invalid' : cni.errors && cni.touched}"
                >
                <div [hidden]="!cni.errors?.required" class="invalid-feedback">
                    CNI is required
                </div>
              </div>
              <div class="col-4 pb-1">
                <label for="e_mail">Email</label>
                <input placeholder="Email"
                    type="email" 
                    class="form-control" 
                    name="e_mail"
                    [(ngModel)]="appUser.e_mail"
                    #e_mail="ngModel"
                    required pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}"
                    [ngClass]="{'is-invalid' : e_mail.errors && e_mail.touched}"
                >
                <div [hidden]="!e_mail.errors?.required" class="invalid-feedback">
                    Mail is required
                </div>
              </div>
            </div>
            <div class=" text-right">
                 <button type="submit" [disabled]="!formClient.valid" class="btn btn-success">Save</button>
            </div>
          </form>
           
        
        </div>
      </div>
    </div>
  </div>






