<router-outlet></router-outlet>

 <!--<app-navbar></app-navbar>


<div class="row pl-1">
    <div class="col-lg-2">
        <app-sidebar></app-sidebar>
    </div>
    <div class="col-lg-10">
        <flash-messages></flash-messages>
        
    </div>
    
   
    
   
        <div class="col-lg-2" *ngIf="showHide">
          <app-sidebar></app-sidebar>
        </div>
      
        <div class="col-lg-10" *ngIf="showHide">
            <button class="btn btn-primary" (click)="showHide = !showHide;"><<</button>
           
        </div>
        <div class="col-lg-10" *ngIf="!showHide">
            <button class="btn btn-primary" (click)="showHide = !showHide;">>></button>
        
            
        </div>
        
         
</div>-->




