<div class="row">
    <div class="col-md-10">
        <!-- Menu Vertical -->
        <nav class="nav flex-column">
            <ul class="nav-link border color-meni list-group px-5">Commande</ul>
                <li routerLink="/addCommande" class="list-group-item-action clickable py-1 pl-3">Creation</li>
                <li routerLink="/" class="list-group-item-action clickable py-1 pl-3">Liste</li>
                <li routerLink="/bcNonCloturer" class="list-group-item-action clickable py-1 pl-3">Bc Non Cloturés</li>
            <ul class="nav-link border color-meni list-group px-5">Facture</ul>
                <li class="list-group-item-action clickable py-1 pl-3">Facture Echues</li>
                <li class="list-group-item-action clickable py-1 pl-3">Facture regleés</li>
            
            <ul class="nav-link border color-meni list-group px-5">Import</ul>
                <li class="list-group-item-action clickable py-1 pl-3">Confirmation réception</li>
                <li class="list-group-item-action clickable py-1 pl-3">Suivi</li>
            <ul class="nav-link border color-meni list-group px-5">Article</ul>
            <ul class="nav-link border color-meni list-group px-5">Fournisseur</ul>
            <ul class="nav-link border color-meni list-group px-5">Utilisateur</ul>
        </nav>
    </div>
</div>
