

<div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <h3 class="text-center">Ajouter des commandes</h3>
          <br>
          <form (ngSubmit)="ngSubmit()">
            <div class="form-row">
              <div class="col-4 pb-1">
                <label for="TypeCommande">Type Commande</label>
                <select id="TypeCommande" 
                    class="form-control"
                    name="typeCommande"
                    [(ngModel)]="commande.typeCommande"
                    #typeCommande="ngModel"  
                                    
                    >
                    
                  <option>Achat Local</option>
                  <option>Importation</option>
                </select>
              </div>
              <div class="col-4 pb-1">
                <label for="date">Délai de Paiment</label>
                <input placeholder="Délai (j) Paiement"
                    type="number" 
                    class="form-control" 
                    name="delaiPaiment"
                    [(ngModel)]="commande.delaiPaiment"
                    #delaiPaiment="ngModel"
                    required
                    [ngClass]="{'is-invalid' : delaiPaiment.errors && delaiPaiment.touched}"
                >
                <div [hidden]="!delaiPaiment.errors?.required" class="invalid-feedback">
                    delai paiment is required
                </div>
              </div>
              <div class="col-4 pb-1">
                <label for="Livraison">Délai de Livraison</label>
                <input placeholder="Délai (j) Livraison"
                    type="number " 
                    class="form-control" 
                    name="delaiLivraison"
                    [(ngModel)]="commande.delaiLivraison"
                    #delaiLivraison="ngModel"
                    required
                    [ngClass]="{'is-invalid' : delaiLivraison.errors && delaiLivraison.touched}"
                >
                <div [hidden]="!delaiLivraison.errors?.required" class="invalid-feedback">
                    delai Livraison is required
                </div>
              </div>
              <div class="col-4">
                <label for="Unite">Unite</label>
                <input placeholder="Unite"
                    type="text" 
                    class="form-control" 
                    name="unite"
                    [(ngModel)]="commande.unite"
                    #unite="ngModel"
                    required
                    [ngClass]="{'is-invalid' : unite.errors && unite.touched}"
                >
                <div [hidden]="!unite.errors?.required" class="invalid-feedback">
                    Unite is required
                </div>
              </div>
              <div class="col-4 pb-1">
                <label for="fournisseur">Fournisseur</label>
                <select id="fournisseur" class="form-control">
                  <option>Fournisseur</option>
                </select>
              </div>
              <!--<div class="col-4 pb-1" >
                <label for="date">Date</label>
                <input placeholder="Date"
                    type="date" 
                    class="form-control" 
                    name="date"
                    [(ngModel)]="commande.date"
                    #date="ngModel"
                    required
                    [ngClass]="{'is-invalid' : date.errors && date.touched}"
                >
                <div [hidden]="!date.errors?.required" class="invalid-feedback">
                    Date is required
                </div>
              </div>-->
              <div class="col-4 pb-1">
                <label for="Devis">Ref Devis</label>
                <input placeholder="Ref Devis"
                    type="text" 
                    class="form-control" 
                    name="referenceDevis"
                    [(ngModel)]="commande.referenceDevis"
                    #referenceDevis="ngModel"
                    required
                    [ngClass]="{'is-invalid' : referenceDevis.errors && referenceDevis.touched}"
                >
                <div [hidden]="!referenceDevis.errors?.required" class="invalid-feedback">
                    Ref Devis is required
                </div>
              </div>
              <div class="col-4">
                <label for="Remise">Remise</label>
                <input placeholder="Remise"
                    type="text" 
                    class="form-control" 
                    name="remise"
                    [(ngModel)]="commande.remise"
                    #remise="ngModel"
                    required
                    [ngClass]="{'is-invalid' : remise.errors && remise.touched}"
                >
                <div [hidden]="!remise.errors?.required" class="invalid-feedback">
                    Remise is required
                </div>
              </div>
              
              <div class="col-4">
                <label for="Mode">Mode</label>
                <input placeholder="Mode"
                    type="text" 
                    class="form-control"
                    name="modePaiment"
                    [(ngModel)]="commande.modePaiment"
                    #modePaiment="ngModel"
                    required
                    [ngClass]="{'is-invalid' : modePaiment.errors && modePaiment.touched}"
                >
                <div [hidden]="!modePaiment.errors?.required" class="invalid-feedback">
                    Mode Paiment is required
                </div>
              </div>
              <div class="col-4">
                <label for="bc">N° BC</label>
                <input  placeholder="N° BC"
                    type="text" 
                    class="form-control"
                    name="numero"
                    [(ngModel)]="commande.numero"
                    #numero="ngModel"
                    required
                    [ngClass]="{'is-invalid' : numero.errors && numero.touched}"
                >
                <div [hidden]="!numero.errors?.required" class="invalid-feedback">
                    Numero De BC is required
                </div>
              </div>
              
              <div class="col-4">
                <label for="lieu">lieu</label>
                <input placeholder="lieu"
                    type="text" 
                    class="form-control" 
                    name="lieuLivraison"
                    [(ngModel)]="commande.lieuLivraison"
                    #lieuLivraison="ngModel"
                    required
                    [ngClass]="{'is-invalid' : lieuLivraison.errors && lieuLivraison.touched}"
                >
                <div [hidden]="!lieuLivraison.errors?.required" class="invalid-feedback">
                    lieu de Livraison is required
                </div>
              </div>
              <div class="col-8 pb-4">
                <label for="Observation">Observation</label>
                <input placeholder="Observation"
                    type="text" 
                    class="form-control" 
                    name="observation"
                    [(ngModel)]="commande.observation"
                    #observation="ngModel"
                    required
                    [ngClass]="{'is-invalid' : observation.errors && observation.touched}"
                >
                <div [hidden]="!observation.errors?.required" class="invalid-feedback">
                    Observation is required
                </div>
              </div>
            </div>
            <div class=" text-right">
                 <button type="submit" class="btn btn-success">Save</button>
            </div>
          </form>
           
        
        </div>
      </div>
    </div>
  </div>




