<nav id="navbar-example2" class="navbar navbar-light bg-light">
    <p class="navbar-brand">S C N E</p>
    <div class="nav nav-pills">
      <div class="mx-auto" style="width: 900px;">
        <p class="h3">Gestion des bons de commande</p>
      </div>
      <div class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">User</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </div>
    </div>
  </nav>
    

<!--"node_modules/jquery/dist/jquery.min.js"-->
    

 
